<!-- <p>login works!</p> -->
<mat-card class="backgroundPage" fxLayoutAlign="center center" fxFlexFill>

  <mat-card class="loginFormCard" fxLayout.xs="column" fxLayoutAlign="center center" fxFlex=30>

    <form class="loginForm" >
      <mat-form-field class="email" fxLayout="row" >
        <mat-label>click to enter e-mail</mat-label>
        <input matInput placeholder="email@address.com">
      </mat-form-field>

      <mat-form-field class="password" fxLayout="row" >
        <mat-label>click to enter password</mat-label>
        <input type="password" matInput placeholder="enter password"/>
      </mat-form-field>

      

<a href="/home">temp log</a>
<button mat-raised-button class="loginBtn" >login</button>



    </form>


  </mat-card>
</mat-card>
<div >




  <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
</div>
